footer
  .container
    .pull-left
      .navbar-brand Message Inteligence

    ul.pull-right.list-inline
      li
        a(href='https://github.com/apanda6/apanda-hackathon') GitHub Project
      li
        a(href='http://www.koding.com/hackathon') Hackathon
  .socket
    .container
      p.small © 2016 Apanda6. All Rights Reserved. A project for hack.summit() hackathon.
