extends ../layout

block content
  .page-header
    h3 Your Mail

    p Select a message from the list to analyse its
    p #{token}
    p #{user}
    p #{mail}

    .row
      .col-sm-4.contact-list-container
        h4 Messages

        div.list-group.contact-list
          a.list-group-item(href="#") Peter
          a.list-group-item(href="#") Dan
          a.list-group-item(href="#") Adrian
          a.list-group-item(href="#") Amulya
          a.list-group-item(href="#") Niko

      .col-sm-8.contact-details-container
        .row
          .col-xs-12
            .media
              .media-left
                img.media-object(src="https://placehold.it/150x150", alt="Name")

              .media-body
                h4.media-heading
                  span.name (contact.name)
                  | &nbsp;Personality portrait

                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, dolorum. Ipsum unde aut sed, sunt deleniti vel. Ipsa commodi, a, quam vero adipisci numquam. Voluptatibus dolores laborum adipisci inventore dolorem.
        .row
          .col-sm-4.col-xs-12
            .panel.panel-default
              h5.panel-body Personality
              .panel-footer
                .graph line-graph

          .col-sm-4.col-xs-12
            .panel.panel-default
              h5.panel-body Consumer Needs
              .panel-footer
                .graph line-graph

          .col-sm-4.col-xs-12
            .panel.panel-default
              h5.panel-body Values
              .panel-footer
                .graph line-graph

        .row
          .col-xs-12
            p
              a(target="_blank", href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/personality-insights/models.shtml/") How were these results calculated?