extends layout

block wide
  .jumbotron
    .container
      h1 Understand everything
      p.lead Our analytical platform is powered by IBM's Watson to give you deep emotional insight to help you connect with your audience.
      a.btn.btn-primary(href='/signup') Sign Up
      a.btn.btn-default(href='#') Learn More

  .container-fluid
    .row.section
      .container
        .row
          .col-sm-12.text-center.section-title
            h2 Import your contacts
            p Connect with your Gmail account to start build your audience profile
          .col-sm-6
            img(src='http://lorempixel.com/image_output/technics-q-c-455-220-1.jpg')
          .col-sm-6
            h2 Heading
            p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            p
              a.btn.btn-default(href='#', role='button') View details »

  .container-fluid
    .row.section.alt
      .container
        .row
          .col-sm-12.text-center.section-title
            h2 Get detailed reports
            p About your contacts state of mind
          .col-sm-6
            h2 Heading
            p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
          .col-sm-6
            img(src='http://lorempixel.com/image_output/technics-q-c-455-220-5.jpg')

block content
