extends layout

block wide
  .jumbotron
    .container
      h1 Understand the artists you love
      p.lead Our analytical platform is powered by IBM's Watson to give you a different perspective on the artists you listen to every day.
      a.btn.btn-primary(href='/artists/top') Artists
      a.btn.btn-default(href='#learn-more') Learn More

  .container-fluid
    .row.section
      .container
        .row
          .col-sm-12.text-center.section-title
            h2 Personality Insights
            p You choose an artist from from the top of the charts and then using the science of
              a(href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/personality-insights/models.shtml") &nbsp;personality insight models
            | we'll show you their profile based on their songs