extends ../layout

block content
  .page-header
    h3 Your Contacts

    p Select a contact from the list to analyse their profile

    .row
      .col-sm-4.contact-list-container
        h4 Contact list

        div.list-group.contact-list
          each contact in contacts
            a.list-group-item(href="#", data-email="#{contact.email}") #{contact.name}

      .col-sm-8.contact-details-container
        .row
          .col-xs-12
            .media
              .media-left
                img.media-object(src="https://placehold.it/150x150", alt="Name")

              .media-body
                h4.media-heading
                  span.name (contact.name)
                  | &nbsp;Personality portrait

                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, dolorum. Ipsum unde aut sed, sunt deleniti vel. Ipsa commodi, a, quam vero adipisci numquam. Voluptatibus dolores laborum adipisci inventore dolorem.
        .row
          .col-sm-4.col-xs-12
            .panel.panel-default
              h5.panel-body Personality
              .panel-footer
                .graph line-graph

          .col-sm-4.col-xs-12
            .panel.panel-default
              h5.panel-body Consumer Needs
              .panel-footer
                .graph line-graph

          .col-sm-4.col-xs-12
            .panel.panel-default
              h5.panel-body Values
              .panel-footer
                .graph line-graph

        .row
          .col-xs-12
            p
              a(target="_blank", href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/personality-insights/models.shtml/") How were these results calculated?
              canvas#language(height="350" width="600")
              canvas#emotions(height="350" width="600")