extends ../layout

block content
  .page-header
    h3 Your Contacts

    p Select a contact from the list to analyse their profile

    .row
      .col-sm-4
        h4 Contact list

        p #{token}
        p #{user}
        p #{contacts}

      .col-sm-8
        .row
          .col-xs-12
            h4 Personality portrait

            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, dolorum. Ipsum unde aut sed, sunt deleniti vel. Ipsa commodi, a, quam vero adipisci numquam. Voluptatibus dolores laborum adipisci inventore dolorem.
        .row
          .col-sm-4.col-xs-12
            h5 Personality

            .graph line-graph

          .col-sm-4.col-xs-12
            h5 Consumer Needs

            .graph line-graph

          .col-sm-4.col-xs-12
            h5 Values

            .graph line-graph