extends ../layout

block content
  .page-header
    h3 Top Artists

  .row
    .col-sm-10.artist-list-container
      h4 Select an artist

      div.list-group.artist-list
        each artist in artists
          a.list-group-item(href="/artists/#{artist.name}", data-artist-id="#{artist.id}") #{artist.name}