extends ../layout

block content
  .page-header
    h3 Top Artists

  .row
    .col-sm-10.artist-list-container
      h4 Select an artist

      div.artist-list
        each artist in artists
          .col-sm-3.col-xs-4
            a.thumbnail(href="/artists/#{artist.name}")
              img.img-responsive(src="#{artist.image[2]['#text']}", alt="#{artist.name}")